.container {
    padding: 20px;
    background-color: #f0f0f0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createButton {
    cursor: pointer;
    font-size: 24px;
    color: #007bff;
    margin-left: auto;
}

.roomsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px; /* Adjusted for smaller room size */
    align-items: center;
}

.roomCard {
    background-color: white;
    padding: 10px 20px; /* Increased padding for oval shape */
    border-radius: 50px; /* Changed to make the card oval */
    box-shadow: 0 10px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s;
    width: 100%;
    text-align: left; /* Changed to left-align text */
    display: inline;
    flex-direction: column;
    height: 100px; /* Set a fixed height for all room cards */
}

.roomCard:hover {
    transform: scale(1.05);
}

.roomHeader {
    display: inline;
    align-items: center; /* Center vertically */
    font-family: cursive;
    width: 100%;
    padding-left: 20px; /* Add padding to align with room card padding */
}

.roomName {
    display: inline;
    font-size: 1.2em; /* Slightly reduced font size */
    margin-top: 0;
    margin-right: auto; /* Pushes the roomName to the left */
}

.roomDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 1em;
    color: #333;
}

.join {
    background-color: rgb(175, 50, 66);
    padding: 7px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.5s;
    font-family: cursive;
    color: white;
}

.join:hover {
    background-color: rgba(212, 89, 109, 0.323);
}

.pub_pri {
    display: flex;
    margin-left: auto;
    font-size: 1.5em; /* Increased size for better visibility */
}
