.input {
    outline: none;
    padding: 10px;
    display: flex;
    margin: 20px;
    width: 100%;
    font-family: cursive;
    font-size: 30px;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.login_box {
    display: inline;
    width: 100%; /* Ensures the box takes full width */
    max-width: 400px; /* Limits the maximum width on larger screens */
}

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Vertically center the container */
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Centers the submit button horizontally */
    font-family: cursive;
    font-size: 30px;
    background-color: red;
    width: 100%; /* Takes full width of the login_box */
    max-width: 200px; /* Limits the maximum width */
    padding: 10px;
    color: white;
    cursor: pointer; /* Indicates the submit button is clickable */
}

/* Responsive styles */
@media (max-width: 768px) {
    .input {
        font-size: 24px;
    }

    .login_container {
        flex-direction: column;
        margin-top: 0;
        height: 100vh; /* Ensure full height on mobile */
    }

    .submit {
        font-size: 24px;
        max-width: 50%; /* Adjusts the button width */
    }
}

@media (max-width: 480px) {
    .input {
        font-size: 18px;
        margin: 10px;
    }

    .submit {
        font-size: 18px;
        max-width: 70%; /* Adjusts the button width */
    }
}