.container {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: -80px;
}

.createButton {
    cursor: pointer;
    font-size: 24px;
    color: #007bff;
}

.newsContainer {
    overflow-x: auto;
    padding-bottom: 20px;
}

.newsCard {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.newsCard:hover {
    transform: scale(1.02);
}

.newsContentContainer {
    flex: 1;
}

.newsImage {
    border-radius: 10px;
    width: 200px;
    height: auto;
    flex-shrink: 0;
    margin-right: 20px;
}

.newsHeadline {
    font-size: 1.5em;
    margin: 0;
    padding: 20px;
}

.newsDescription {
    font-size: 1em;
    color: #333;
    padding: 20px;
}

/* Remove scrollbar styles */
.newsContainer::-webkit-scrollbar {
    display: none;
}

.newsContainer::-webkit-scrollbar-thumb {
    display: none;
}
